/* =============
    Board-Info
============= */

#board {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". board .";
    padding: 24px 0;

    @include md {
        padding: 48px 0;
    }

    @include lg {
        padding: 56px 0;
    }

    @include xxl {
        grid-template-columns: auto 1440px auto;
        padding: 64px 0;
    }

    >div {
        grid-area: board;

        #board-header {
            display: flex;

            i {
                color: var(--blue);
                margin-right: 16px;
                font-size: rem-calc(30);
            }
        }

        #quote {

            background-color: var(--grey);
            padding: 16px;
            margin: 24px 0;

            @include md {
                margin: 48px 0;
            }

            @include lg {
                margin: 56px 0;
            }

            @include xxl {
                margin: 64px 0 0;
            }

            @include md {
                display: grid;
                grid-template-columns: auto 70% auto;

                grid-template-areas: ". quote .";
            }

            @include lg {
                grid-template-columns: auto 60% auto;
            }

            >div {
                @include md {
                    grid-area: quote;
                }

                p {
                    font-size: rem-calc(20);
                    margin-bottom: 16px;
                }

                div {
                    display: flex;

                    i {
                        margin-right: 16px;
                    }
                }
            }
        }

        #members {
            ul {
                display: grid;
                gap: 16px;

                @include md {
                    grid-template-columns: 50% auto;
                }

                @include lg {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include xxl {
                    grid-template-columns: repeat(4, 1fr);
                }

                li {
                    background-color: var(--darkBlue);
                    color: var(--cream);
                    display: grid;
                    grid-template-columns: 40% auto;
                    grid-template-rows: 150px;

                    @include md {
                        grid-template-columns: 50% auto;
                        grid-template-rows: 200px;
                    }

                    aside {
                        background-position: center;
                        background-size: center;
                        height: 100%;
                    }

                    div {
                        padding: 16px;

                        h3 {
                            font-weight: 500;
                            font-size: rem-calc(20);
                        }

                        h4 {
                            font-weight: 400;
                            font-size: rem-calc(16);
                        }

                        hr {
                            border: none;
                            height: 1px;
                            background-color: var(--cream);
                        }
                    }
                }

                li:nth-child(1) {
                    aside {
                        background-image: url("../img/board/board-1.jpeg");
                    }
                }

                li:nth-child(2) {
                    aside {
                        background-image: url("../img/board/board-2.jpeg");
                    }
                }

                li:nth-child(3) {
                    aside {
                        background-image: url("../img/board/board-3.jpeg");
                    }
                }

                li:nth-child(4) {
                    aside {
                        background-image: url("../img/board/board-4.jpeg");
                    }
                }

                li:nth-child(5) {
                    aside {
                        background-image: url("../img/board/board-5.jpeg");
                    }
                }

                li:nth-child(6) {
                    aside {
                        background-image: url("../img/board/board-6.jpeg");
                    }
                }

                li:nth-child(7) {
                    aside {
                        background-image: url("../img/board/board-7.jpeg");
                    }
                }

                li:nth-child(6) {
                    aside {
                        background-image: url("../img/board/board-6.jpg");
                    }
                }

                li:nth-child(7) {
                    aside {
                        background-image: url("../img/board/board-7.jpeg");
                    }
                }
            }
        }
    }
}